In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [30]:
#####GOT TEMPERATURES WAY ABOVE 200 DEGREES
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/WeatherPy_vacation.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Rain,Snow
0,0,Kavieng,PG,2020-06-28 16:18:42,-2.57,150.80,82.53,79,35,12.33,1.25,0
1,9,Namatanai,PG,2020-06-28 16:18:52,-3.67,152.43,79.50,79,77,6.87,0.77,0
2,20,Odiongan,PH,2020-06-28 16:20:24,12.40,121.99,79.93,83,100,11.74,0.68,0
3,22,Albany,US,2020-06-28 16:17:42,42.60,-73.97,71.60,83,90,4.70,0.25,0
4,51,Ivanteyevka,RU,2020-06-28 16:20:25,55.97,37.92,75.99,60,46,8.95,0.46,0

In [31]:
#gmaps only uses either integer or floating points, let's check with dtypes
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Rain          float64
Snow            int64
dtype: object

In [32]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

#1. Assign the locations to an array of latitude and longitude pairs.
locations = [latitude, longitude]
#2. Assign the weights variable to some values.
temperatures = # an array of equal length of the locations array.
#3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()
#4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)
#5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
#6. Call the figure to plot the data.
fig

In [33]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
#using a for loop you can also use a list comprehension 
for temp in max_temp:
    temps.append(max(temp, 0))

In [34]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable. adding center and zoom variables
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable, improve max intensity, point radius, dissipation = False (default is true).
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds , dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent wind
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind , dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 60
What is the maximum temperature you would like for your trip? 85

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Mumford,GH,2020-06-28 14:22:49,5.26,-0.76,78.66,83,13,16.13
5,5,Albany,US,2020-06-28 14:24:34,42.60,-73.97,69.01,92,14,0.83
6,6,Meulaboh,ID,2020-06-28 14:24:34,4.14,96.13,80.37,82,99,4.52
8,8,Carnarvon,AU,2020-06-28 14:24:34,-24.87,113.63,69.80,100,75,13.87
10,10,Tatvan,TR,2020-06-28 14:24:34,38.51,42.28,84.20,35,75,6.93
11,11,Tura,IN,2020-06-28 14:24:34,25.52,90.22,75.54,96,50,5.91
12,12,La Ronge,CA,2020-06-28 14:24:34,55.10,-105.28,60.80,87,75,5.82
14,14,Port Alfred,ZA,2020-06-28 14:24:35,-33.59,26.89,63.00,69,11,8.99
16,16,Marsa Matruh,EG,2020-06-28 14:22:49,31.35,27.25,80.60,54,0,11.41
17,17,Kodinsk,RU,2020-06-28 14:24:35,58.69,99.18,71.28,51,0,1.81

In [21]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       4
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [22]:
preferred_cities_df.notnull().sum()

City_ID       340
City          340
Country       336
Date          340
Lat           340
Lng           340
Max Temp      340
Humidity      340
Cloudiness    340
Wind Speed    340
dtype: int64

In [23]:
preferred_cities_df.count()

City_ID       340
City          340
Country       336
Date          340
Lat           340
Lng           340
Max Temp      340
Humidity      340
Cloudiness    340
Wind Speed    340
dtype: int64

In [24]:
preferred_cities_df.count()

City_ID       340
City          340
Country       336
Date          340
Lat           340
Lng           340
Max Temp      340
Humidity      340
Cloudiness    340
Wind Speed    340
dtype: int64

In [25]:
# Get travel destinations
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp    Lat     Lng Hotel Name
2        Mumford      GH     78.66   5.26   -0.76
5         Albany      US     69.01  42.60  -73.97
6       Meulaboh      ID     80.37   4.14   96.13
8      Carnarvon      AU     69.80 -24.87  113.63
10        Tatvan      TR     84.20  38.51   42.28
11          Tura      IN     75.54  25.52   90.22
12      La Ronge      CA     60.80  55.10 -105.28
14   Port Alfred      ZA     63.00 -33.59   26.89
16  Marsa Matruh      EG     80.60  31.35   27.25
17       Kodinsk      RU     71.28  58.69   99.18

In [26]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [27]:
# Dependencies and Setup
import requests
import gmaps

# Import API key
from config import g_key

#url+="appid="+g_key

In [28]:
# # Set the parameters to search for a hotel in Paris/NOT SHOWING HOTELS IN PARIS
# params = {
#     "radius": 5000,
#     "types": "lodging",
#     "key": g_key,
#     "location": "48.8566, 2.3522"}
# # Use base URL to search for hotels in Paris.
# base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
# # Make request and get the JSON data from the search.
# hotels = requests.get(base_url, params=params).json()

In [29]:
## NO RESULTS IN PARIS

len(hotels["results"])

NameError: name 'hotels' is not defined

In [ ]:
# Iterate through the DataFrame.#### I'M GETTING NO HOTELS
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
# Set the parameters to search for a hotel in Paris.
#     params = {
#         "radius": 5000,
#         "types": "lodging",
#         "key": g_key,
#         "location": "48.8566, 2.3522"}    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    params["types"] = "lodging",
    params["key"] = g_key,
    params["radius"] = 5000
    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    #hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    # Grab the first hotel from the results and store the name.
    try:
      hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
      print("Hotel not found... skipping.")

In [ ]:
hotel_df

In [ ]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

In [ ]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

In [ ]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, 
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig